@tailwind base;
@tailwind components;
@tailwind utilities;

body {

  background: linear-gradient(16deg, #541c0a, #5c0e2c, #073a4d, #075241);
  background-size: 1000% 1000%;
  animation: gradient 5s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
